*{
    margin:0;
    
}
/*Navigation*/
.logo-nav{
    margin-left: 5%;
}
.usericon{
    margin: -3px;
    margin-left: 10px;
}

button{
    background-color: #13202f;
    color:white;
    font-size: 20px;
    padding: 3px 10px;
    margin-top: -2px;
    border-radius: 9%;
    border: none;
}
.navbar a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    
    
}
.navbar ul a{
    font-size: 25px;
    
    
    
}
.navbar ul{
    list-style-type: none;
    display:flex;
}

.navbar {
    display:flex;
    background-color: #ced4e4;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar ul li{
    margin:0 20px;
    gap: 50px;
}

.navbar ul a:hover{
    color:red;
    text-decoration-line: underline;
}


/*Content*/


.table-dashboard table,th,td{
    border: 2px solid black;
    border-collapse: collapse;

    
}
.table-dashboard table{
    background-color: #96907f;
}
.table-dashboard table td{
    font-size: 25px;
    padding: 15px 30px 15px 50px;
    
}
.table-dashboard table td a{
    text-decoration: none;
    color:black;
    
}
.table-dashboard table th{
    background-color: #797979;
    font-size: 25px;
    padding: 15px 0px 15px 0px;
    
}


.flex-items{
    display:flex;
}
.coaches{
    font-style: bold;
    margin-left: 10px;
}
.coaches table{
    border: 2px solid black;
    border-collapse: collapse;
}
.coaches table th{
    padding:10px 10px;
    background-color: rgb(8, 20, 41);
    color:white;
}
.coaches table td{
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom:15px;
}


.btn{
    color:white;
    background-color: rgb(8, 20, 41);
    border-radius: 5%;
    margin:10px 45%;
    padding: 10px;
    font-size: 15px;
}
.searchbar{
    border-radius: 5%;
    height: 25px;
    width: 30%;
}

.btn-search{
    color:white;
    background-color: black;
    border-radius: 5%;
    font-size: 15px;
}


/*Footer*/
.logo{
    margin:-10% 0% 0% 25%;
    /*mix-blend-mode: multiply;*/
}
.lorem1{
    margin: 5% 20% 0% 25%;
}

.social-icon{
    margin-left: 25%;
}
hr{
    width: 85%;
    margin:0 auto;
    border: 1px solid red;
}

.footer {
    background-color: black;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 20px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 100px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

